name: Build Documentation
on:
  push:
    branches:
      - docgen
  workflow_dispatch:

jobs:
  run-action:
    name: Run action
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run compile

      - name: Run docgen
        id: docgen
        uses: ./
        with:
          repository-owner: "nanos-world"
          repository-name: "api"
          repository-branch: "main"
          github-token: ${{ github.token }}

      - name: Commit
        id: commit
        run: |
          git clone -b docgen-output ${{ github.server_url }}/${{ github.repository }}.git docs
          mv ./annotations.lua ./docs/annotations.lua
          cd ./docs
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add ./annotations.lua
          git commit -m "deploy: ${{ github.sha }}" -a
        if: steps.docgen.outcome == 'success'

      - name: Deploy
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          branch: refs/heads/docgen-output
        if: steps.commit.outcome == 'success'
