name: Build Documentation
on:
  push:
    branches:
      - docgen
  workflow_dispatch:

jobs:
  run-action:
    name: Run action
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run compile

      - name: Run docgen
        id: docgen
        uses: ./
        with:
          repository-owner: "nanos-world"
          repository-name: "api"
          repository-branch: "main"
          github-token: ${{ github.token }}
        
      - name: Debug
        run: ls ./
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ github.token }}
          publish_branch: docgen-output
          publish_dir: ./docs
          enable_jekyll: true
        if: steps.docgen.outcome == 'success'
